.cardElement {
margin: 30px 0px 0px 50px;
box-shadow: 1px 0px 3px 0px gray;
border: none;
border-radius: 20px;
}

.card-subtitle{
    background-color: white;
}
.card-body{
    background-color: white;
}
.card-title{
    background-color: white;
}

@media (max-width: 360px)
{
    .cardElement
   {
    margin: 30px 0px 0px 50px;
   }
}