.styleSidebar {
    background-color: #a7a8f4;
    margin-left: -12px;
    padding-left: 12px;
}
.styleSidebar span {
    background-color: #a7a8f4;
}
.styleSidebar div {
    background-color: #a7a8f4;
}
.styleSidebar nav {
    background-color: #a7a8f4;
}
.styleSidebar i {
    background-color: #a7a8f4;
}
.styleSidebar ul {
    background-color: #a7a8f4;
}
.styleSidebar a{
    color: white !important;
    font-weight: 700;
    background-color: #a7a8f4;
    
}
